{
	"presets": [
		[
			"next/babel",
			{
				"preset-env": {
					"useBuiltIns": "usage",
					"corejs": "3.6"
				}
			}
		],
	],
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"@actions": "./redux/actions",
					"@components": "./components",
					"@dummy": "./dummy",
					"@layout": "./layout",
					"@lib": "./lib",
					"@modules": "./modules",
					"@options": "./options",
					"@public": "./public",
					"@reducers": "./redux/reducers",
					"@static": "./static",
					"@style": "./style",
					"@store": "./store",
					"@sagas": "./sagas",
					"@utils": "./utils"
				}
			}
		]
	],
	"env": {
		"test": {
			"presets": [["@babel/preset-env", { "modules": false } ], "next/babel"]
		}
	}
}