@import './colors.scss';

.authComponent {
    width: 100%;

    .signInLogo {
        display: inline;
        fill: $blue;
        height: 48px;
        width: 48px;
    }

    .authSegment {
        .error.message {
            margin-bottom: 14px;
        }
    }

    .registerText {
        font-size: 18px;

        .registerLink {
            color: $blue;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}