/*---  Colors  ---*/
$red              : #DB2828;
$orange           : #F2711C;
$yellow           : #FBBD08;
$olive            : #B5CC18;
$green            : #21BA45;
$teal             : #00B5AD;
$blue             : #2185D0;
$violet           : #6435C9;
$purple           : #A333C8;
$pink             : #E03997;
$brown            : #A5673F;
$grey             : #767676;
$black            : #1B1C1D;

/*---  Light Colors  ---*/
$lightRed         : #FF695E;
$lightOrange      : #FF851B;
$lightYellow      : #FFE21F;
$lightOlive       : #D9E778;
$lightGreen       : #2ECC40;
$lightTeal        : #6DFFFF;
$lightBlue        : #54C8FF;
$lightViolet      : #A291FB;
$lightPurple      : #DC73FF;
$lightPink        : #FF8EDF;
$lightBrown       : #D67C1C;
$lightGrey        : #DCDDDE;
$lightBlack       : #545454;

/*---   Neutrals  ---*/
$fullBlack        : #000000;
$offWhite         : #F9FAFB;
$darkWhite        : #F3F4F5;
$midWhite         : #DCDDDE;
$white            : #FFFFFF;

/*---   Misc  ---*/
$higlighterYellow: #ffff00;
$dimmer-background: rgba(255, 255, 255,0.8);
$dimmer-border: rgba(245, 246, 250,0.5);
$card-header: rgba(0,0,0,.85);

/*---   Social colors  ---*/
$facebook: #3b5998;
$twitter: #0084b4;
$youtube: #ff0000;
$reddit: #FF5700;
$patreon: #f96854;

$dividerMargin: 25px;