@import './colors.scss';

.ui.bottom.attached.segment.footerSegment {
	background: $white !important;
	border-bottom: none;
	border-top: dashed 1px $lightGrey;
	box-shadow: none !important;
	margin-top: 2.5em !important;
	padding: 2em 0em !important;
	text-align: center;

	.container {
		padding-left: 30px;
		padding-right: 30px;
	}

	.ui.inverted.list .item a:not(.ui) {
		color: $black !important;
		font-weight: bold;

		&:hover {
			color: $lightBlack;
		}
	}

	p {
		color: $grey !important;
		font-size: 12px;
		margin-bottom: 7px;
		margin-top: 5px;
	}
}