@import './colors.scss';

@font-face {
	font-family: AngryBirds;
	src: url("../public/fonts/angrybirds-regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
  
@keyframes increase {
   from {
       left: -5%;
       width: 5%;
    }
    
    to {
       left: 130%;
       width: 100%;
    }
}

@keyframes decrease {
    from { 
        left: -80%;
        width: 80%;
    }

    to {
        left: 110%;
        width: 10%;
    }
}

.pageHeader {
    .rainbow {
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
        background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
        color: transparent;
        height: 5px !important;
        // opacity: 0.7;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99999;
    }

    .subline {
        background: $lightGrey;
        height: 5px;
        position: fixed;
        top: 0;
        z-index: 999999;
    }

    .inc {
        animation: increase 2s infinite;
    }

    .dec {
        animation: decrease 2s 0.5s infinite;
    }

    .menu.globalHeader {
        background: $white;
        border-bottom: dashed 2px $lightGrey;
        box-shadow: none;
        height: 72px;
        margin-top: 5px;
        z-index: 1001 !important;

        &.borderless {
            border-bottom: none;
        }

        .headerContainer {
            .responsive {
                display: flex;
                width: 100%;
            }

            .headerMenuItem {
                margin-right: 0 !important;

                .headerLogo {
                    cursor: pointer;
                    height: 64px;
                    line-height: 4;
                    margin-right: 12px;
                    width: 64px;
                }

                a {
                    color: $black;
                    font-size: 15px !important;
                    font-weight: bold !important;
                    margin-left: 18px;

                    &.logoText {
                        color: $black;
                        font-weight: normal;
                        font-family: "Ubuntu Condensed", sans-serif;
                        font-size: 36px !important;
                        margin: 0;
                        position: relative;
                    }
                }
            }

            .sidebarItem {
                .button {
                    margin-right: 18px;
                }

                .icon {
                    cursor: pointer;

                    &:hover {
                        color: $blue;
                    }
                }
            }

            .dropDownMenu {
                .menu.visible {
                    min-width: 150px;
                    z-index: 1001;
                }
            }
        }
    }

    .sidebar.menu {
        padding-top: 135px;

        .fallacySidebarItem {
            text-align: left;
        }

        .sidebarSearchBtn {
            margin-top: 8px;
        }
    }
}