@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.searchResultsMasonryGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    width: auto;

	.searchResultsMasonryGridColumn {
		background-clip: padding-box;
		padding-left: 30px;

		.gridElementText {
			font-size: 16px;
			padding: 6px 8px 0 8px;
		}

		> div {
			background: #offWhite;
			cursor: pointer;
			margin-bottom: 25px;

			img {
				animation-name: fadeInOpacity;
				animation-iteration-count: 1;
				animation-timing-function: ease-in;
				animation-duration: 0.85s;
				opacity: 1;
			}
		}
	}
}