.searchResults {
    .card {
        box-shadow: none !important;
        cursor: pointer;
        overflow: hidden;

        .content {
            padding: 8px 5px !important;

            .description {
                color: $lightBlack !important;
                font-size: 15px;
            }
        }

        img {
            height: min-content;
        }
    }

    &.templates {
        
    }
}